/*****************************
        General
*****************************/


article {
  bottom-border: 1px solid gray;
}

summary::-webkit-details-marker {
  display:none;
}

article {
  color:  #333333;
}

code {
  background-color: #f0eded;
}

details p {
  font-size: .9em;
}

li {
  font-size: .9em;
}

ul {
  margin-top: 0;
}

h2 {
  color:  #6605e3;
}

h3 {
  color: #8300df;
}

h4 {
  color: #a000d8;
}


/*****************************
        Header
*****************************/
.wrapper-main header {
  float: left;
  width: 100%;
  background-color: #fff;
  border-bottom: 0;

}

.wrapper-main header h1 {
  text-align: center;
  color: #5710e3;
}

.wrapper-main header h1, p {
  padding-left: 20px;
  margin-bottom: 0;
}

.wrapper-main header p {
  padding-bottom: 10px;
}

/*****************************
        Left Column
*****************************/

.column-1 {
  float: left;
  width: 45%;
  height: 100%;
  padding: 7px 2%;
}

.column-1 article {
  margin-bottom: 50px;
  border-bottom: solid 3px gray;
}

.column-1 article h2, h3, h4 {
  margin-bottom: 0;
}

.column-1 article p {
  margin-top: 0;
  padding: 0;
}



/*****************************
        Right Column
*****************************/
.column-2 {
  float: left;
  width: 45%;
  height: 100%;
  padding: 7px 2%;
}

.column-2 article {
  margin-bottom: 50px;
  border-bottom: solid 3px gray;
}

.column-2 article h2, h3, h4 {
  margin-bottom: 0;
}

.column-2 article p {
  margin-top: 0;
  padding: 0;
}

