/**************************
   Page:  Blog Index
**************************/

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.blog-list {
  float: left;
  width: 70%;
  margin: 0 0 0 2.5%;
}

.blog-list-article {
  margin-bottom: 60px;
}

.blog-list-article h3 {
  margin-bottom: 0;
}

.blog-list-article h4 {
  margin-top: 5px;
  margin-bottom: 0;
}

.blog-list-article p {
  line-height: 1.8em;
  word-spacing: 2px;
}

.blog-aside {
  float: right;
  width: 25%;
  margin: 5% 2.5% 0 0;
}


.profile-photo img {
  float: right;
  height: 70%;
  width: 70%;
  border-radius: 5%;
  margin-bottom: 20px;
}

.recent-posts {
  width: 70%;
  height: 70%;
  float: right;
  padding-top: 0;

}

.recent-posts h4 {
  font-weight: bold;
  font-weight: .8em;
  text-align: center;
  margin-bottom: 10px;
}
.recent-posts ul {
  padding: 0;
  margin-top: 0;
}

.recent-posts ul li {
  text-align: left;
  font-weight: medium;
  margin-bottom: 10px;
  font-size: .75em;
}



/**************************
   Page:  Blog Post
**************************/
.blog-post {
  float: left;
  width: 70%;
  margin: 0 0 0 2.5%;
}

.blog-section {
  margin-bottom: 50px;
}

.blog-section h3 {
  margin-bottom: 0;
  font-size: 1.3em;
}

.blog-section p {
  line-height: 1.8em;
  word-spacing: 2.5px;
  margin-top: 8px;
}

.blog-section ul {
  margin-top: 5px;
}

.blog-section ul li {
  padding-bottom: 5px;
}

.blog-img {
  position: relative;
  left: 20%;
  height: 55%;
  width: 55%;
}

.blog-imgs-1 {
  position: relative;
  left: 3%;
  height: 45%;
  width: 45%;
}

.blog-imgs-2 {
  float: right;
  margin-top: 35px;
  height: 50%;
  width: 50%;
}

.blog-imgs-3 {
  position: relative;
  left: 15%;
  height: 28%;
  width: 28%;
}

.blog-imgs-4 {
  float: right;
  margin-right: 15%;
  height: 28%;
  width: 28%;
}

.blog-imgs-5 {
  position: relative;
  left: 27.5%;
  height: 45%;
  width: 45%;
}

.blog-imgs-6 {
  position: relative;
  left: 15%;
  height: 70%;
  width: 70%;
}

.blog-section-list-title {
  margin-top: 30px;
  margin-bottom: 0px;
}

.blog-imgs-7 {
  position: relative;
  left: 5%;
  height: 43%;
  width: 43%;
}

.blog-imgs-8 {
  float: right;
  margin-right: 10%;
  height: 33%;
  width: 33%;
}

.blog-imgs-9 {
  position: relative;
  left: 15%;
  height: 30%;
  width: 30%;
}

.blog-imgs-10 {
  float: right;
  margin-right: 25%;
  height: 23%;
  width: 23%;
}

.blog-imgs-5 {
  position: relative;
  left: 30%;
  height: 40%;
  width: 40%;
}

figure {
  position: relative;
  left: 5%;
}

figure img {
  position: relative;
  left: 20%;
}

figcaption {
  font-size: .6em;
  position: relative;
  left: 10%;
}

.selection-sort {
  position: relative;
  left: 35%;
}