/**************************
   Page:  Blog Index
**************************/

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

.blog-list {
  float: left;
  width: 70%;
  margin: 0 0 0 2.5%;
}

.blog-list-article {
  margin-bottom: 50px;
}

.blog-list-article p {
  line-height: 1.6em;
}

.blog-aside {
  float: right;
  width: 25%;
  margin: 5% 2.5% 0 0;
}


.profile-photo img {
  float: right;
  height: 70%;
  width: 70%;
  border-radius: 5%;
  margin-bottom: 20px;
}

.recent-posts {
  width: 70%;
  height: 70%;
  float: right;
  padding-top: 0;

}

.recent-posts h4 {
  font-weight: bold;
  font-weight: .8em;
  text-align: center;
  margin-bottom: 10px;
}
.recent-posts ul {
  padding: 0;
  margin-top: 0;
}

.recent-posts ul li {
  text-align: left;
  font-weight: medium;
  margin-bottom: 10px;
  font-size: .75em;
}



/**************************
   Page:  Blog Post
**************************/
.blog-post {
  float: left;
  width: 70%;
  margin: 0 0 0 2.5%;
}



.blog-section {
  margin-bottom: 50px;
}

.blog-section h3 {
  margin-bottom: 0;
  font-size: 1.3em;
}

.blog-section p {
  line-height: 1.6em;
  margin-top: 8px;
}

.blog-img {
  position: relative;
  left: 20%;
  height: 55%;
  width: 55%;
}
