/********************************
       Navigation
********************************/
@media screen and (min-width: 940px) {

  header {
    padding-bottom: 5px;
    border-bottom: 8px solid #0474ff;
  }

  .logo {
    float: left;
    margin-left: 5%;
  }

  .logo h1{
    font-size: 1.75em;
  }

  .logo h2 {
    font-size: 1em;
  }

  nav{
    background: #2c9ce8;
  }
  nav ul {
    float: right;
    margin-right: 5%;
  }
}



/******************************
   Footer and Blog Pages
******************************/

@media screen and (max-width: 840px) {
  .blog-aside {
    display: none;
  }

  .blog-list, .blog-post {
    width: 95%;
  }

  .contact-links-footer img {
    margin: 0 5px;
    height: 65%;
    width: 65%;
  }

}